<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SNSWAutomationSuite">
 <parameter name="Env"  value="IT2"/>  
 <parameter name="Browser"  value="Chrome"/>
<listeners>
	<listener class-name="TestHelpers.Screenshot" /> 
 </listeners>   
 
 <test name="R1.1 Regression">
    <classes>
     	<class name="r1regression.FeedBackTest"/>
    	 <class name="r1regression.UpdateSecurityQTest"/>
    	 <class name="r1regression.CheckDemeritsTest"/>
    	 <class name="r1regression.LinkingOptionCTest"/>
     </classes>
  </test>

 </suite> <!-- SNSWAutomationSuite -->

